.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1000;

  a {
    color: white;
  }
}

.footer .container {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.outro {
  margin-right: 30px;
}

.text-muted {
  color: #c7cdd3 !important;
  margin: 0 auto;

  a {
    color: #c7cdd3 !important;
  }
}